body{
    background-color: white;

}
#miau{
    width: 25%;
}
#woaf{
    width: 25%;
    margin-left: 0%;
}
#pocoto{
    width: 25%;
    margin-left: 0%;
}
#argh{
    width: 24%;
    margin-left: 0%;
}
#mua{
    font-size: 200px;
    margin-top: -15%;
    margin-left: 40%;
    height: 20%;
}
#a{
    width: 25%;
    margin-left: 0%;
}
#b{
    width: 25%;
    margin-left: 0%;
}
#c{
    width: 25%;
    margin-left: 0%;
}
#d{
    width: 24%;
    margin-left: 0%;
}
   